//Main scss style import file
@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap");

@import "partials/header";
@import "partials/home";
@import "partials/contact";